<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
    
    {{>header}}

    <section class="content">
        {{#each products}}
        <a href="http://localhost:5000/{{id}}">
            <div class="content-container">
                <img class="product-img" src="{{image}}">
                <div class="content-detail">
                    <h4>{{title}}</h4>
                    <h4>${{price}}</h4>
                    <p>Rating:{{rating.rate}}⭐</p>
                    <p class="category">Category: {{category}}</p>
                </div>
            </div>
        </a>
        {{/each}}
    </section>

    {{>footer}}
</body>
</html>